# 严格的SSL验证
strict-ssl=false
# 使用淘宝镜像
registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 
shamefully-hoist=true
